.option {
	border-bottom: 1px solid #d0d0d035;
	padding: clamp(8px, 2vw, 20px);
	display: flex;
	flex-shrink: 1;
	flex-direction: column;

	.icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(17, 25, 40, 0.3);
		border-radius: 50%;
		padding: clamp(3px, 0.5vw, 5px);
		cursor: pointer;

		&:hover {
			background-color: rgba(17, 25, 40, 0.5);
		}

		.icon {
			height: clamp(16px, 2vw, 20px);
			width: clamp(16px, 2vw, 20px);
		}
	}

	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: clamp(8px, 2vw, 20px);
		font-size: clamp(0.9rem, 1.2vw, 1rem);
	}
}
