.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(256, 256, 256, 0.5);
	backdrop-filter: blur(2px);
	z-index: 1000;

	.alter-status {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: clamp(10px, 2vw, 20px);
		width: max-content;
		height: max-content;
		padding: clamp(10px, 2vw, 20px);
		background-color: rgba(17, 25, 40, 0.8);
		border-radius: 0.5rem;
		z-index: 1001;

		.status-input {
			display: flex;
			gap: clamp(10px, 2vw, 20px);

			input {
				padding: clamp(8px, 1.5vw, 10px) clamp(10px, 2vw, 20px);
				border-radius: 0.5rem;
				border: none;
				outline: none;
				height: clamp(1.75rem, 2.5vw, 2rem);
				font-size: clamp(0.9rem, 1.2vw, 1rem);
			}

			button {
				padding: clamp(3px, 0.5vw, 5px);
				border-radius: 0.5rem;
				background-color: cornflowerblue;
				color: white;
				border: none;
				cursor: pointer;
				height: clamp(1.75rem, 2.5vw, 2rem);
				margin: 0;
				width: clamp(60px, 8vw, 80px);
				font-size: clamp(0.9rem, 1.2vw, 1rem);

				&:hover {
					background-color: rgba(100, 149, 237, 0.8);
				}
			}
		}
	}
}
