.container {
	height: 100svh;
	min-height: -webkit-fill-available;
	width: 100vw;
	background-color: rgba(17, 25, 40, 0.85);
	border: 1px solid rgba(256, 256, 256, 0.2);
	display: flex;
	overflow: hidden;
	isolation: isolate;
	contain: layout size;
}

.loading {
	padding: 50px;
	font-size: 36px;
	border-radius: 10px;
	background-color: rgba(17, 25, 40, 0.9);
}

.pane-list {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	overflow: hidden;
	&.third-left {
		width: 33vw;
	}
	&.hidden-left {
		width: 0;
	}
	&.quarter-left {
		width: 25vw;
	}
}

.pane-chat {
	position: absolute;
	top: 0;
	left: 100vw;
	width: 0;
	bottom: 0;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	&.two-third-right {
		left: 33vw;
		width: 67vw;
	}
	&.two-third-left {
		left: 0;
		width: 67vw;
	}
	&.full-screen {
		left: 0;
		width: 100%;
	}
	&.half-center {
		left: 25vw;
		width: 50vw;
	}
}

.pane-detail {
	position: absolute;
	top: 0;
	left: 100vw;
	bottom: 0;
	width: 0;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	&.quarter-right {
		left: 75vw;
		width: 25vw;
	}
	&.third-right {
		left: 67vw;
		width: 33vw;
	}
}

/* Login animation */
.login-enter {
	opacity: 0;
	transform: scale(0.9);
}
.login-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

@media (max-width: 650px) {
	.container.mobile-container {
			position: fixed;
			top: 0;
			left: 0;
		}

  .mobile-full {
    width: 100vw;
    left: 0;
  }
  .mobile-hidden-left {
    width: 0;
    left: -101vw;
  }
  .mobile-hidden-right {
    width: 0;
    left: 101vw;
  }
  .mobile-hidden {
    width: 0;
  }
}
